PRIVACYGUARD_RELEASE_STORE_FILE=C:\\path\\to\\privacyguard-release.jks
PRIVACYGUARD_RELEASE_STORE_PASSWORD=change-me
PRIVACYGUARD_RELEASE_KEY_ALIAS=privacyguard
PRIVACYGUARD_RELEASE_KEY_PASSWORD=change-me
PRIVACYGUARD_RELEASE_SIGNATURE_SHA256=PASTE_RELEASE_CERT_SHA256_WITHOUT_COLONS
